    /*
    Flaticon icon font: Flaticon
    Creation date: 03/12/2018 10:38
    */

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-search:before { content: "\f100"; }
.flaticon-user:before { content: "\f101"; }
.flaticon-facebook:before { content: "\f102"; }
.flaticon-google-plus-logo-on-black-background:before { content: "\f103"; }
.flaticon-home:before { content: "\f104"; }
.flaticon-favorite-heart-button:before { content: "\f105"; }
.flaticon-instagram-logo:before { content: "\f106"; }

    $font-Flaticon-search: "\f100";
    $font-Flaticon-user: "\f101";
    $font-Flaticon-facebook: "\f102";
    $font-Flaticon-google-plus-logo-on-black-background: "\f103";
    $font-Flaticon-home: "\f104";
    $font-Flaticon-favorite-heart-button: "\f105";
    $font-Flaticon-instagram-logo: "\f106";