	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/12/2018 10:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-search:before { content: "\f100"; }
.flaticon-user:before { content: "\f101"; }
.flaticon-facebook:before { content: "\f102"; }
.flaticon-google-plus-logo-on-black-background:before { content: "\f103"; }
.flaticon-home:before { content: "\f104"; }
.flaticon-favorite-heart-button:before { content: "\f105"; }
.flaticon-instagram-logo:before { content: "\f106"; }