// VAriable global
$primary_color: #247bdd;
$global_color: #333333;

@import "../flaticon/_flaticon.scss";

// Extend
%break_style{
	display: block;
	clear: both;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}
%tag_title{
	list-style: none;
	margin: 0;
	padding: 0;
}

@font-face{
	font-family:"Roboto_Bold";
	src:url(../fonts/roboto/Roboto-Bold.eot?#iefix) format('embedded-opentype'),
		 url(../fonts/roboto/Roboto-Bold.woff) format('woff'),
		 url(../fonts/roboto/Roboto-Bold.ttf) format('truetype'),
		 url(../fonts/roboto/Roboto-Bold.svg#Roboto-Bold) format('svg');
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:"Roboto_Light";
	src:url(../fonts/roboto/Roboto-Light.eot?#iefix) format('embedded-opentype'),
		 url(../fonts/roboto/Roboto-Light.woff) format('woff'),
		 url(../fonts/roboto/Roboto-Light.ttf) format('truetype'),
		 url(../fonts/roboto/Roboto-Light.svg#Roboto-Light) format('svg');
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:"Roboto_Regular";
	src:url(../fonts/roboto/Roboto-Regular.eot?#iefix) format('embedded-opentype'),
		 url(../fonts/roboto/Roboto-Regular.woff) format('woff'),
		 url(../fonts/roboto/Roboto-Regular.ttf) format('truetype'),
		 url(../fonts/roboto/Roboto-Regular.svg#Roboto-Regular) format('svg');
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:"Roboto_Italic";
	src:url(../fonts/roboto/Roboto-Italic.eot?#iefix) format('embedded-opentype'),
		 url(../fonts/roboto/Roboto-Italic.woff) format('woff'),
		 url(../fonts/roboto/Roboto-Italic.ttf) format('truetype'),
		 url(../fonts/roboto/Roboto-Italic.svg#Roboto-Italic) format('svg');
	font-weight:400;
	font-style:normal;
}

*{
	font-family: "Roboto_Regular";
	margin: 0;
	padding: 0;
}
*:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:active, :focus{
	outline: none;
}
a{
	color: #333;
	text-decoration: none;

	&:hover{
		color: #247bdd;
		text-decoration: none;
	}
}
body{
	@extend %tag_title;
	font-family: "Roboto_Regular";
	color: $global_color;
	font-size: 14px;
	-webkit-backface-visibility: hidden;
}

h1{
	@extend %tag_title;
	font-size: 20px;
}
h2{
	@extend %tag_title;
	font-size: 14px;
}
h3{
	@extend %tag_title;
	font-size: 14px;
}
h4{
	@extend %tag_title;
	font-size: 12px;
}
h5, h6, form, input, select, ul, ol{
	@extend %tag_title;
}
img{
	border: none;
	-ms-interpolation-mode: bicubic;
}
input[type="checkbox"]{
	margin-right: 3px;
	vertical-align: text-top;
}
input[type="button"], input[type="submit"]{
	cursor: pointer;
}
table{
	border-collapse: separate;
	border-spacing: 0;
}
.cxt_fl{
	float: left;
}
.cxt_fr{
	float: right;
}
.cxt_clear{
	clear: both;
}
.cxt_container{
	max-width: 1200px;
	margin: 0 auto;
}

/** FLATICON **/
@font-face {
  font-family: "Flaticon";
  src: url("../flaticon/Flaticon.eot");
  src: url("../flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../flaticon/Flaticon.woff") format("woff"),
       url("../flaticon/Flaticon.ttf") format("truetype"),
       url("../flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size: inherit !important;
	font-style: normal !important;
	margin-left: inherit !important;
}

// Header
.cxt_header_bar{
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #f2f2f2;
	background: rgba(245, 245, 245, 0.41);

	ul{
		&.cxt_hb_main{
			li{
				display: block;
				line-height: 35px;
				float: left;

				a{
					display: inline-block;
					padding: 0 10px;
					position: relative;

					&:after{
						height: 13px;
						width: 2px;
						content: "";
						background: #e1e2e1;
						position: absolute;
						right: 0px;
						top: 50%;
						transform: translate(0, -50%,);
					}

					span{
						&.hotline_number{
							font-family: "Roboto_Bold";
							color: #db4437;
						}
					}
				}

				&:last-child{
					a{
						&:after{
							display: none;
						}
					}
				}
			}

			&.cxt_fr{
				li{
					a{
						i{
							font-size: 22px;
						}

						&.icon_facebook{
							i{
								color: #4267b2;
							}
						}

						&.icon_google{
							i{
								color: #db4437;
							}
						}
					}
				}
			}
		}
	}
}
.cxt_header_main{
	ul{
		display: grid;
		grid-template-columns: 200px 850px 150px;

		li{

			&.cxt_logo{
				padding: 20px 0;
				width: 200px;

				img{
					width: 100%;
					height: 100%;
					-o-object-fit: cover;
					object-fit: cover;
					-o-object-position: center center;
					object-position: center center;
				}
			}

			&.cxt_search{
				margin: 0 auto;
				width: 80%;
				padding-top: 25px;

				.cxts_form{
					position: relative;
				}

				input{
					display: block;
					padding: 9px 12px;
					font-size: 14px;
					line-height: 1.42857143;
					color: #555;
					background-color: #fff;
					background-image: none;
					border: 1px solid #e5e5e5;
					border-radius: 2px;
					width: calc(100% - 26px);
				}

				button{
					position: absolute;
					top: 0;
					right: 0;
					width: 40px;
					height: 40px;
					font-size: 21px;
					border: 1px solid #e5e5e5;
					border-radius: 2px;
				}
			}

			&.cxt_login{
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;

				i{
					font-size: 24px;
				}
			}
		}
	}
}
.pagemenu{
	width: 100%;
	background: #161616;
	height: 60px;
	clear: both;
	min-width: 1200px;

	ul{
		li{
			border-left: 1px solid #4b5055;
			float: left;
			position: relative;
			height: 60px;

			&:first-child{
				border: none;

				i{
					font-size: 26px;
				}

				a{

					&:before{
						height: 100%;
						opacity: 1;
						visibility: visible;
						-webkit-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0);
						transition-delay: 0s, .2s;
					}
				}
			}

			&:hover{

				.sub-menu {
					display: block;
					z-index: 1000;
				}

				a{
					&:before{
						height: 100%;
						opacity: 1;
						visibility: visible;
						-webkit-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0);
						transition-delay: 0s, .2s;
					}
				}
			}

			&.activemenu {
				background-color: #4b5055;
			}

			li{
				background-color: #FFF;
				float: none;
				border: none;
				padding-left: 0;
				height: 40px;
				line-height: 40px;

				a{
					font-family: "Roboto_Regular";
					line-height: 40px;
					width: calc(100% - 30px);
					padding: 0 15px;
					color: #000;
					transition: all .2s ease;

					&:before {
						display: none;
					}
				}

				&:hover{
					a{
						padding-left: 20px;
					}
				}
			}

			a{
				text-decoration: none;
				font-family: "Roboto_Bold";
				color: #fff;
				padding: 5px 15px;
				text-transform: uppercase;
				line-height: 50px;
				position: relative;
				display: inline-block;
				z-index: 1;

				&:before {
					position: absolute;
					content: '';
					top: 0;
					left: 0;
					height: 0;
					width: 100%;
					border-top: 3px solid #247bdd;
					-webkit-transform: translate3d(-100%, 0, 0);
					transform: translate3d(-100%, 0, 0);
					transition: all 0.35s cubic-bezier(0.05, 0.29, 0.11, 1.54), height 0.3s ease;
					z-index: -1;
					visibility: hidden;
					opacity: 0;
				}
			}

			ul {
				background: none repeat scroll 0 0 #fff;
				border: 1px solid #e1e1e1;
				text-decoration: none !important;
				display: none;
				left: 0;
				top: 60px;
				position: absolute;
				min-width: 250px;
				z-index: 9999;
			}
		}
	}
}

// STYLE MAIN
.box_article_hot{
	display: grid;
	grid-template-columns: 50% 50%;
	max-height: 545px;
	margin-top: 20px;

	.bah_item{
		width: 100%;
		position: relative;

		a{
			line-height: 160%;
			display: table-cell;
			vertical-align: middle;
			overflow: hidden;
			background-position: 50% 25%;
			background-repeat: no-repeat;
			background-size: cover;
			font-size: 0;
			text-align: center;

			img{
				width: 100%;
				height: 100%;
				display: inline-block;
				vertical-align: middle;
			}

			.article_info{
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				padding: 100px 15px 15px;
				color: #FFF;
				background: rgba(255,255,255,0);
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(30,30,30,0.9) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(30,30,30,0.9)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(30,30,30,0.9) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(30,30,30,0.9) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(30,30,30,0.9) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(30,30,30,0.9) 100%);
				text-align: left;

				h3{
					font-size: 22px;
					font-family: "Roboto_Bold";
					margin-bottom: 10px;
					line-height: 140%;
				}

				img{
					width: 25px;
					height: 25px;
					border-radius: 50%;
					vertical-align: middle;
				}
				.author_name{
					font-weight: 700;
					color: #247bdd;
					vertical-align: middle;
					line-height: 25px;
					padding: 0 5px 0 8px;
					font-size: 14px;
				}
				i{
					vertical-align: middle;
					line-height: 25px;
					font-size: 13px;
				}
				.article_date{
					font-size: 13px;
					line-height: 25px;
					vertical-align: middle;
					padding-left: 1px;
					color: #999;
				}
			}

			&:hover{
				h3{
					color: #FFF;
				}
			}
		}
	}
}
.bah_medium{
	margin: 0 0 2px 1px;

	.article_link{
		width: 600px;
		height: 270px;

		img{
			max-width: 600px;
			max-height: 270px;
		}
	}
}
.bah_big{
	.article_link{
		width: 600px;
		height: 546px;

		img{
			max-width: 600px;
			max-height: 546px;
		}
	}
}
.bah_small{
	margin-left: 1px;
	display: grid;
	grid-template-columns: 50% 50%;

	.article_link{
		width: 300px;
		height: 275px;

		img{
			max-width: 300px;
			max-height: 275px;
		}
	}

	.bah_item{
		max-width: 298px;
		max-height: 274px;
		overflow: hidden;

		&:last-child{
			margin-left: 1px;
		}
	}
}

.bam_title{
	h3{
		font-size: 20px;
		font-family: "Roboto_Bold";
		color: #38404e;
		position: relative;
		display: inline-block;
		padding-bottom: 10px;
		margin-bottom: 25px;
		text-transform: uppercase;

		&:after{
			content: "";
			position: absolute;
			bottom: 0;
			height: 2px;
			background: #247bdd;
			width: 80px;
			left: 0;
		}
	}

}

.bam_list{
	.bam_list_item{

		margin-bottom: 30px;

		a{
			display: grid;
			grid-template-columns: 300px calc(100% - 300px);

			.bam_img{
				width: 300px;
				height: 185px;
				overflow: hidden;

				img{
					width: 100%;
					max-width: 300px;
					height: auto;
					vertical-align: middle;
				}
			}

			.bam_content{
				padding-left: 20px;

				.bamc_title{
					font-size: 20px;
					font-family: "Roboto_Bold";
					line-height: 130%;
				}

				.bamc_teaser{
					margin: 10px 0;
					line-height: 160%;
					color: #000;
				}

				.bamc_info{
					color: #000;

					img{
						width: 25px;
						height: 25px;
						border-radius: 50%;
						vertical-align: middle;
					}
					.author_name{
						font-weight: 700;
						color: #247bdd;
						vertical-align: middle;
						line-height: 25px;
						padding: 0 5px 0 8px;
					}
					i{
						vertical-align: middle;
						line-height: 25px;
						font-size: 13px;
					}
					.article_date{
						font-size: 13px;
						line-height: 25px;
						vertical-align: middle;
						padding-left: 1px;
						color: #999;
					}
				}
			}
		}
	}
}

.box_article_main{
	display: grid;
	grid-template-columns: 25% 75%;
	margin-top: 30px;
	margin-bottom: 50px;

	.bam_item{
		&:last-child{
			margin-left: 30px;
		}
	}

	.bam_category{
		border: 1px solid #E5E5E5;
		margin-bottom: 50px;

		ul{
			li{
				display: inline-block;
				height: 60px;
				border-bottom: 1px solid #E5E5E5;
				line-height: 60px;
				width: 100%;

				&:last-child{
					border-bottom: 0;
				}

				a{
					font-size: 18px;
					color: #000;
					opacity: 0.8;
					padding: 0 20px;
					width: 100%;
					display: inline-block;

					img{
						margin-right: 10px;
						vertical-align: middle;
					}

					span{
						font-family: "Roboto_Bold";
						vertical-align: middle;
					}
				}

				&.active{
					a{
						color: #247bdd;
					}
				}

				&:hover{
					a{
						color: #247bdd;
					}
				}
			}
		}
	}
}
.bam_popular{
	margin-bottom: 30px;

	ul{
		li{
			display: inline-block;
			margin-bottom: 30px;

			a{
				display: grid;
				grid-template-columns: 110px 170px;

				.bamp_image{
					text-align: center;
					width: 110px;
					height: auto;
					overflow: hidden;

					img{
						width: 100%;
						max-height: 100%;
					}
				}

				.bamp_title{
					margin-left: 20px;
					font-size: 16px;
					font-family: "Roboto_Bold";
					line-height: 140%;
				}
			}
		}
	}
}

.bam_topic{
	margin-bottom: 30px;

	ul{
		li{
			display: inline-block;
			width: 100%;

			a{
				font-size: 18px;
				color: #38404e;
				padding-bottom: 15px;
				display: inline-block;
				width: 100%;

				&:hover{
					color: #247bdd;
				}
			}

			&.active{
				a{
					color: #247bdd;
				}
			}
		}
	}
}

.bam_article_hot{
	ul{
		li{
			display: inline-block;

			a{
				img{
					max-width: 300px;
					height: auto;
					vertical-align: middle;
					margin-bottom: 15px;
				}
				span{
					font-size: 14px;
					position: relative;
					line-height: 140%;
					display: block;
					padding: 15px 0 15px 15px;
					border-bottom: 1px solid #E5E5E5;

					&:after{
						position: absolute;
						content: "";
						width: 6px;
						height: 6px;
						background: #247bdd;
						border-radius: 50%;
						top: 21px;
						left: 3px;
					}
				}
			}

			&:last-child{
				a{
					span{
						border-bottom: 0;
					}
				}
			}

			&:first-child{
				a{
					span{
						padding-top: 0;
					}
				}
			}
		}
	}
}
.bam_load_more{
	width: 100%;
	text-align: center;
	position: relative;
	height: 100px;

	a{
		width: 200px;
		height: 45px;
		text-align: center;
		border: 1px solid #737373;
		color: #737373;
		line-height: 45px;
		display: inline-block;
		border-radius: 5px;
		font-size: 18px;
		margin-top: 20px;

		&:hover{
			border: 1px solid #247bdd;
			color: #247bdd;
		}
	}
}
[class*="t_ov"] {
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	height: auto;/* Fallback for non-webkit */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.t_ov_1 { -webkit-line-clamp: 1; }
.t_ov_2 { -webkit-line-clamp: 2; }
.t_ov_3 { -webkit-line-clamp: 3; }
.t_ov_4 { -webkit-line-clamp: 4; }
.t_ov_5 { -webkit-line-clamp: 5; }
.t_ov_6 { -webkit-line-clamp: 6; }
.t_ov_7 { -webkit-line-clamp: 7; }

// STYLE CATEGORIES

.category_list{
	width: 100%;
	background: #f8f8f8;
	height: 125px;

	ul{
		li{
			float: left;
			display: flex;
			text-align: center;
			width: calc(100%/12 - 10px);
			align-items: center;
			justify-content: center;
			height: 125px;
			padding: 0px 5px;

			a{
				width: 100%;

				span{
					width: 100%;
					display: inline-block;
					font-size: 13px;
					opacity: 0.9;
					min-height: 30px;
					line-height: 140%;
					font-weight: 600;
				}

				i{
					font-size: 32px;
					margin-bottom: 5px;
					display: inline-block;
				}

				&:hover{
					span{
						color: #247bdd;
					}
				}
			}

			&.active{
				a{
					color: #247bdd;
				}
			}
		}
	}
}

.type_article_main{
	display: grid;
	grid-template-columns: 75% 25%;
	margin: 30px 0;

	.tam_main{
		&:first-child{
			margin-right: 30px;
		}
	}
}

// STYLE DETAIL

.detail_article_main{
	display: grid;
	grid-template-columns: 75% 25%;
	margin: 30px 0;

	.dam_main{
		&:first-child{
			margin-right: 30px;
		}

		h3{
			font-size: 20px;
			color: #38404e;
			text-transform: uppercase;
			line-height: 160%;
			margin-bottom: 15px;
		}

		.dam_info{

			width: 100%;
			margin-bottom: 20px;

			.dami_left{
				margin-right: 10px;

				img{
					width: 25px;
					height: 25px;
					border-radius: 50%;
					vertical-align: middle;
				}
				.author_name{
					font-weight: 700;
					color: #247bdd;
					vertical-align: middle;
					line-height: 25px;
					padding: 0 5px 0 8px;
				}
				i{
					vertical-align: middle;
					line-height: 25px;
					font-size: 13px;
				}
				.article_date{
					font-size: 13px;
					line-height: 25px;
					vertical-align: middle;
					padding-left: 1px;
					color: #999;
				}
			}
		}

		.dam_description{
			img{
				text-align: center;
				display: inline-block;
				margin: 15px 0;
				max-width: 100%;
				height: auto;
				text-align: center;
			}

			p{
				font-family: "Roboto_Regular";
				line-height: 160%;
				margin-bottom: 10px;
				padding: 0;
			}

			h2{
				font-size: 18px;
				margin-bottom: 10px;
			}
		}

		.dam_author{
			margin-top: 15px;
			font-weight: bold;
			font-size: 14px;
			color: #38404e;
		}
	}
}
.dam_tag{
	width: 100%;
	margin-top: 20px;

	.dam_tag_title{
		font-size: 18px;
		font-family: "Roboto_Bold";
		line-height: 33px;
	}

	ul{
		li{
			display: block;
			float: left;
			margin: 0 10px;

			a{
				padding: 8px 12px;
				display: inline-block;
				font-size: 14px;
				text-decoration: none;
				background: #ebebeb;
				color: #555;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				transition: background .3s,color .3s;
				-webkit-transition: background .3s,color .3s;
				-moz-transition: background .3s,color .3s;

				&:hover{
					background: #247bdd;
					color: #fff;
				}
			}
		}
	}
}
.dam_care{
	width: 100%;
	margin: 30px 0;

	.damc_main{
		margin-top: 15px;
		display: grid;
		grid-template-columns: 300px 300px 270px;

		.damc_item{
			margin-right: 30px;

			&:last-child{
				margin-right: 0;
			}

			.damc_image{
				width: 270px;
				height: 167px;
				display: table-cell;
				vertical-align: middle;
				overflow: hidden;
				background-position: 50% 25%;
				background-repeat: no-repeat;
				background-size: cover;
				font-size: 0;
				text-align: center;

				img{
					max-width: 270px;
					max-height: 167px;
				}
			}

			.damc_content{
				font-size: 18px;
				font-weight: bold;
				margin-top: 15px;
				color: #000;
				line-height: 140%;
				opacity: 0.9;
			}
		}
	}
}

// FOOTER
.cxt_footer_top{
	width: 100%;
	height: 60px;
	background: #363636;
	display: none;

	ul{
		li{
			float: left;
			display: block;
			padding: 0 20px;

			a{
				display: inline-block;
				color: #FFF;
				text-transform: uppercase;
				line-height: 60px;
				font-family: "Roboto_Bold";
				font-size: 16px;
			}
		}
	}
}
.cxt_footer_main{
	width: 100%;
	background: #161616;

	.cxt_fm_thumb{
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		padding: 50px 0;

		.cxt_fm_title{
			font-size: 16px;
			color: #FFF;
			line-height: 40px;
			position: relative;
			padding-bottom: 10px;
			font-family: "Roboto_Bold";

			&:after{
				content: "";
				position: absolute;
				bottom: 0;
				width: 80px;
				left: 0;
				border-bottom: 1px solid #363636;
				border-top: 1px solid #696969;
			}
		}

		ul{
			&.cxt_fm_content{
				padding: 5px 0;

				li{
					height: 35px;
					width: 100%;
					display: block;
					line-height: 35px;

					a{
						color: #FFF;
						line-height: 35px;
						display: inline-block;
						width: 100%;

						i{
							vertical-align: middle;
							margin-right: 8px;
							font-size: 22px;
						}
					}
				}
			}
		}
	}
}
.cxt_footer_bottom{
	background: #0C0C0C;
	color: #FFF;
	padding: 35px;
	overflow-y: hidden;
	text-align: left;
	font-size: 13px;

	.copyright{
		a{
			color: #FFF;
		}
		i{
			padding: 0 5px;
		}
	}

	.go_top{
		position: relative;
		float: right;
		margin: -20px 0 0 0;

		&:after{
			background: url(../images/footer-car.png) no-repeat 50% 50%;
			position: absolute;
			content: "";
			top: 25px;
			right: 0;
			width: 59px;
			height: 72px;
			transition: all .3s ease;
		}

		&:hover{
			&:after{
				top: -5px;
			}
		}
	}
}